@import "variables";

$list-loading-color: #333;

$list-empty-color: #bbb;

$list-error-color: #d43f3a;

$list-more-pad: 20px;
$list-more-color: #fff;
$list-more-bg-color: #0275d8;
$list-more-box-shadow: #0357a2;

.list {
  position: relative;

  &__container {
    font-size: 0;
  }

  &__loading,
  &__empty,
  &__error {
    display: none;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin: 40px 0;
  }

  &__loading {
    color: $list-loading-color;
  }

  &__empty {
    color: $list-empty-color;
  }

  &__error {
    color: $list-error-color;
  }

  &__more {
    display: none;
    padding: ($list-more-pad / 2) $list-more-pad;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
    color: $list-more-color;
    background-color: $list-more-bg-color;
    border: 0;
    outline: 0;

    &:hover {
      box-shadow: inset 0 0 5px 5px $list-more-box-shadow;
    }
  }
}
