@import "variables";

$movie-bg-color: #fff;
$movie-border-color: #888;
$movie-border-radius: 10px;
$movie-shadow-color: #999;

$movie-body-pad: 10px;

$movie-footer-border-color: #ccc;

$movie-vote-color: #444;

$movie-details-color: #fff;
$movie-details-bg-color: #5bc0de;
$movie-details-shadow-color: #0ca0cc;

.movie {
  display: inline-block;
  width: 98%;
  vertical-align: top;
  margin: 1%;
  background-color: $movie-bg-color;
  border: 1px solid $movie-border-color;
  position: relative;
  border-radius: $movie-border-radius;
  box-shadow: 5px 5px 25px -5px $movie-shadow-color;
  overflow: hidden;

  @media screen and (min-width: 980px) {
    width: 48%;
  }

  &__cover {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
  }

  &__body {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    padding: $movie-body-pad $movie-body-pad 50px;
    font-size: $font-size;
  }

  &__title,
  &__desc {
    word-break: break-all;
  }

  &__title {
    margin: 0;
    font-size: 20px;
  }

  &__desc {
    margin-top: 10px;
  }

  &__footer {
    position: absolute;
    bottom: $movie-body-pad;
    left: 30%;
    right: $movie-body-pad;
    border-top: 1px solid $movie-footer-border-color;
    padding: 5px;
  }

  &__vote {
    margin-top: 10px;
    text-align: right;
    color: $movie-vote-color;
  }

  &__details {
    display: inline-block;
    padding: 5px 10px;
    color: $movie-details-color;
    background-color: $movie-details-bg-color;
    position: absolute;
    bottom: 0;
    left: $movie-body-pad;
    text-decoration: none;

    &:hover {
      box-shadow: inset 0 0 2px 2px $movie-details-shadow-color;
    }
  }
}
