@import "variables";

$search-input-pad: 10px;
$search-input-border-color: #ddd;
$search-input-border-radius: 10px;
$search-clear-size: 40px;

.search {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  font-size: 0;
  margin-bottom: 20px;

  &__input {
    display: inline-block;
    width: calc(100% - #{$search-clear-size});
    font-size: $font-size;
    border-color: $search-input-border-color;
    border-radius: $search-input-border-radius;
    padding: $search-input-pad;
    outline: none;
  }

  &__clear {
    display: inline-block;
    width: $search-clear-size;
    font-size: $font-size;
  }
}
