@import "variables";
@import "../../node_modules/normalize-scss/sass/normalize";

@include normalize;

@-ms-viewport {
  width: device-width;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  background-color: $bg-color;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
    -ms-overflow-style: scrollbar;
  }
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

.page-container {
  padding: 20px;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
